.hexrow {
  clear: both;
  padding: 0;
  padding-top: 9.23760431px;
}
.hexrow:nth-child(odd) {
  margin-left: 16px;
}
.hexagon {
  position: relative;
  float: left;
}
.hexagon,
.hexagon:before,
.hexagon:after {
  width: 28px;
  height: 18.47520861px;
  background: #808080;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  margin-left: -2px;
}
.top-left .hexagon:before,
.top-left .hexagon:after {
  border-left-color: #808080;
}
.bottom-right .hexagon:before,
.bottom-right .hexagon:after {
  border-right-color: #808080;
}
.hexagon:before {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}
.hexagon:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
}
.right .hexagon {
  border-right-color: #808080;
}
.left .hexagon {
  border-left-color: #808080;
}
